:root {
    --space-cadet: #2a324b;
    --peach-crayola: #f7c59f;
    --rhythm: #767b91;
    --light-periwinkle: #c7ccdb;
    --alice-blue: #e1e5ee;
    --alternative-space-cadet: #2a324b;
}

// *** *** *** *** Layout *** *** *** ***
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2em auto;
}

section,
header,
footer {
    max-width: 1240px;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 8em;
}

.hero-img-container {
    display: flex;
    justify-content: center;
}
