.input {
    font-size: 1.6rem;
    padding: 1em 2em;
    border-radius: 50px;
    border: solid 3px #2a324b;
    margin-bottom: 1em;
}

::placeholder {
    font-size: 1.6rem;
    color: #2a324b;
    font-family: "Nunito", sans-serif;
}
