<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travello</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@300;400;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header><span class="logo">Travello</span></header>
        <main>
            <!-- *** *** *** Hero section *** *** *** -->

            <section class="hero">
                <div class="small-container">
                    <form class="plan-form">
                        <h2>Make a list for your trip</h2>
                        <input
                            id="item"
                            class="input"
                            type="text"
                            placeholder="New"
                        />

                        <h2>Items</h2>
                        <ul></ul>

                        <button id="clear-btn" class="btn">Clear All</button>
                        <button id="add-item" class="btn" type="submit">
                            Add item
                        </button>
                    </form>
                </div>
                <!--  
                <div class="hero-img-container">
                    <img
                        src="../../../assets/Group 105.svg"
                        alt="illustrations of a person using laptop"
                    />
                </div> -->
                <!-- *** *** *** Form *** *** *** -->
                <form class="plan-form" onsubmit="return Client.submitHandler">
                    <h1>Start planning your trip</h1>
                    <label for="input-location">Location</label>
                    <input
                        class="input"
                        id="input-location"
                        type="text"
                        value=""
                    />
                    <label for="input-arrival-date">Arrival date</label>
                    <input
                        class="input"
                        id="input-arrival-date"
                        type="date"
                        value=""
                    />
                    <label for="input-departure-date">Departure date</label>
                    <input
                        class="input"
                        id="input-departure-date"
                        type="date"
                        value=""
                    />
                    <button
                        type="submit"
                        id="submitPlan"
                        class="btn btn-trip-plan"
                    >
                        Add trip
                    </button>
                </form>
            </section>

            <!-- *** *** *** Travel information section *** *** *** -->

            <section class="travel-information-section"></section>
            <section class="countdown-section"></section>
        </main>
        <footer>
            <p id="footer-text">Web-Application develop by: Edwin Mensah</p>
        </footer>

        <script src="main.js"></script>
    </body>
</html>
